.Inspect-button {
  font-size: 1em;
  background: #e0e0e0;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 0.3em;
  padding-top: calc(0.3em - 1px);
  margin: 0.3em;
}

.Inspect-blockquote {
  font-size: 1.3rem;
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem 1rem;
  overflow-x: auto;
}
