/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.App-content {
  background-color: #ccc;
  overflow-x: auto;
  overflow-y: scroll;
  grid-row: 2;
  grid-column: 1;
  box-sizing: border-box;
}

.App-contentContainer {
  margin: 20px;
}

.App-sidebar {
  grid-row: 2;
  grid-column: 2;
  padding: 20px;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
}
