/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.Input-form {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0;
  width: auto;
  flex-direction: row;
  flex-grow: 1;
  max-width: 400px;
}

.Input-text {
  margin: 0;
  background: none;
  border: none;
  padding: 0.5em;
  flex-basis: auto;
  flex-grow: 1;
}

.Input-button {
  background: #eee;
  border: none;
  border-left: 1px solid #ccc;
  border-radius: 0 3px 3px 0;
  margin: 0 0 0 0.5em;
  padding: 0.5em;
  flex-basis: auto;
}
