.Table {
  display: grid;
  background-color: rgb(153, 153, 153);
  padding: 1px;
  gap: 1px;
}

.Table-header {
  background-color: rgb(200, 200, 200);
  font-weight: 500;
}

.Table-row {
  grid-column: 1 / 3;
  display: contents;
  text-decoration: none;
  color: unset;
}

.Table-row:nth-child(odd) > .Table-cell {
  background-color: rgb(230, 230, 230);
}

a.Table-row:hover > .Table-cell {
  margin: -1px;
  background-color: rgb(226, 237, 255);
  border: 1px solid rgb(131, 183, 218);
}

.Table-cell {
  padding: 10px;
  background-color: white;
}
